@import url("https://fonts.googleapis.com/css=?family=DM+Sans;400,500|Jost:400,500,600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #2b2c48;
    font-family: 'Jost', sans-serif;
    background: url("../img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    max-width: 340px;
    margin: auto;
    overflow-y: a;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    background: #fff;
    display: flex;
    transition: 0.3s;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
}

.card.is-active .card-header {
    height: 80px;
}

.card.is-active .card-cover{
    height: 100px;
    top: -50px;
}

.card.is-active .card-avatar {
    transform: none;
    left: 20px;
    width: 50px;
    height: 50px;
    bottom: 10px;
}

.card.is-active .card-fullname,
.card.is-active .card-jobtitle {
    left: 86px;
    transform: none;
}

.card.is-active .card-fullname {
    bottom: 18px;
    font-size: 19px;
}