@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
    background-image: linear-gradient(135deg, #8ac1ef, #ca6ce9, #8ac1ee, #e99356);
    font-family: 'Open-Sans', sans-serif;
}

.box-form {
    margin: 10vh, auto;
    width: 60vw;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 0 20px 6px #090b68;
    height: 80vh;
}

a {
    text-decoration: none;
}

@media (max-width: 980px) {
    .box-form {
        flex-flow: wrap;
        text-align: center;
        align-content: center;
        align-items: center;
        height: auto;
    }
}

.box-form div {
    height: auto;
}

.box-form .left {
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url();
}